# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
*.pyc

# dependencies
/node_modules
/vendor/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
