{% extends "base.html" %}

{% block javascripts_head %}
    {{ block.super }}
    <script src="/static/js/common.js"></script>
{% endblock %}
            
{% block center_column %}
            
<!-- Main Page Content and Sidebar -->

<div class="row">

    <div class="large-offset-3 large-6 columns settop" role="main">
    
        <h4>Your Password Has Been Reset</h4> 
		
        <p>Click the button below to login with your new password.</p>
        
        <input type="button" value="Login" class="button radius" onclick="javascript:onvendor_signup();" />
        
    </div>
    
</div>

<!-- End Main Content and Sidebar -->
  <script type="text/javascript">
    function onvendor_signup()
    {
        location.href = "/login";
    }
  </script>
   
{% endblock %} 