{% extends "base.html" %}

{% block javascripts_head %}
    {{ block.super }}
    <script src="/static/js/common.js"></script>
{% endblock %}

{% block center_column %}

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-offset-3 large-6 columns">
    
        <h4>Password Reset</h4>
		
        <form method="post" id="main_form" action="{% url "django.contrib.auth.views.password_reset" %}">
            
            {% csrf_token %}
            <p>Please enter your email address below. You will receive a link to create a new password via email.</p>
            
            <span id="validation_msg_email" style="color:Red;display:none;">Please enter valid email address</span>
                        
            <input type="text" name="email" id="id_Email" placeholder="Email" value="{{ form_values.Email }}">
                                    
            <input type="button" value="Send Me A New Password" class="button radius right" onclick="javascript:onclick_submit();"/>
        
        </form>
            

    </div>
    
    <div class="row">

        <div class="large-6 large-offset-3 columns">

        	<h5>First Time?</h5>
            <input type="button" value="Create An Account" class="button radius" onclick="javascript:onvendor_signup();" />
        
        </div>
                    
    </div>
    <!-- End Main Content -->

</div>

<!-- End Main Content and Sidebar -->
<script type="text/javascript">
function onvendor_signup() {
	window.location.href="/signup";
}

function onclick_submit()
{
    var is_valid = true;

    var sEmail = $('#id_Email').val();
    if ($.trim(sEmail).length == 0 || validateEmail(sEmail) == false) {
        $("#validation_msg_email").css("display", "inline");
        is_valid = false;
    }
    else {
        $("#validation_msg_email").css("display", "none");
    }

    if(is_valid){
        $("#main_form").submit();
    }
}
</script>
  
{% endblock%}
