{% extends "base.html" %}

{% block center_column %}

  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="eight columns settop" role="main">

        <h4>User Signup</h4>
		
        <div class="row">
         <div class="twelve columns">
            
            <strong>Thanks for your interest. You'll be receiving an email once your account has been activated.</strong>
            
         </div>
         
       </div>

 		
         <div class="row">
             <div class="twelve columns">
             	<p>&nbsp;</p>
             </div>
         </div>
        
         
     
 		
    </div>

    <!-- End Main Content -->

  </div>
  
  <!-- End Main Content and Sidebar -->

{% endblock %}